.text-primary{
    color: #b01f16!important;
}

*{
    font-family: 'Montserrat-regular' ;
    font-weight: 500;
    /* background-color: #f8f8f8; */
}
body{
    background-color: #f8f8f8;

}
a:hover{text-decoration: none}

/* navbar */
.navbar{
    padding: 0;
}
.navbar *{
    background-color:white;
}
.navbar .navbar-brand img {
    width: 200px;
    height: auto;
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #b01f16;
    font-family: 'Montserrat-regular';
} 
.navbar-nav i{
    font-size: 10px;
    letter-spacing: 1px;
    color: #b01f16;
}

/* navbar resposibe */
.container-navegacion {
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 10000;
    display: block;
    margin: auto;
    background: transparent;
}
.nav-navegacion {
    opacity: 0%;
    transition: all 0.5s ease-in-out;
    width: 150px;
    border-radius: 5px;
}
.nav-navegacion a {
    background-color:#b01f16;
    text-align: left;
    display: block;
    margin: 10px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-family: 'Montserrat-medium';
}
.nav-navegacion a:hover {
    background-color:#FFF;
    color: #b01f16;
}
.boton-flotante {
    position: fixed;
    right: 20px;
    top: 25px;
    margin-right: -10PX;
}
.boton-flotante i.text-primary{
    font-size: 20px;
}
#toggle-navegacion:checked ~ .nav-navegacion {
    opacity: 1;
    margin-bottom: 80px;
    margin-left: 10px;
}

@media (min-width: 768px) {
    #navbarResponsive, #boton-sandwich {
        display: block;
    }

    .container-navegacion {
        display: none;
    }
}


/* btn whatsapp*/
.btn-whatsapp {
    display:block;
    width:50px;
    height:50px;
    position: fixed;
    right:43px;
    bottom:40px;
    z-index: 120;
}

.btn-whatsapp img {
    width: 100%;
    filter: drop-shadow(5px 5px 10px #77777770);
}

/* header */

#header.masthead {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center bottom;
    color: #FFFFFF;
}

#img-control {
    height: 800px;
    width: auto;
    padding-top: 50px;
}

/* raya header */
.header-raya{
    height: 50px;
    background-color: #b01f16;
    border: 0;
    margin: 0;
}

/* introduccion */
#introduccion{
    padding-top: 90px;
    padding-bottom: 90px;
}

#introduccion label{
    margin-top: 20px;
}

#introduccion p {
    font-size: 65px;
    font-family: "Montserrat-bold";
    padding: 0px 60px;
    display: inline-block;
    margin: 0;
    background-color: #f8f8f8;
}

.intro-raya{
    background-color: black;
    max-width: 80VW;
    height: 10px;
    margin: 0px auto -57px;
}

#introduccion div{
    max-height: 90vh;
    padding: 10px;
}

#introduccion img{
    height: inherit;
    width: auto;
}
/* beneficios  */

#beneficios .card {
    font-size: 20px;
    height: 25vh;
    margin-bottom: 30px;
    font-family: 'Montserrat-medium';

}
#beneficios .card h5{
    font-family: 'Montserrat-medium';
}


#beneficios img{
    padding: 10px;
}

#herramientas p.intro-heading, #herramientas p.intro-lead-in{
    font-size: 50px;
    font-family: 'Montserrat-bold';
    margin: 0;
    line-height: 1;
}

.numero5{
    display: inline-block;
}
.numero5 label{
    font-size: 250px;
    font-family: 'Montserrat-bold';
    margin: 0;
    line-height: 1;
}
/* #herramientas i{
    padding: 0px 20px;
} */

#img-herramientas {
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.herramienta{
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}
.herramienta .invertir {
    flex-direction: row-reverse;
}

.herramienta .invertir:first-child {
    order: 2;
}

.herramienta .invertir:nth-child(2) {
    order: 1;
}
.container-herramienta{
    padding: 0px 30px 30px;
}

.header-herramienta{
    display: inline-block;
    background-color: #b01f16;
    color: white;
    font-family: "Montserrat-bold";
    font-size: 30px;
    border-radius: 20px;
    padding: 10px 40px;
    margin-bottom: 40px;
    margin-top: -29px;
    /* z-index: 200; */
}

.text-herramienta{
    font-size: 28px;
}
.icon-circle-herramienta:before {
    content: "\f111";
    bottom: -7px;
    /* left: 45px; */
    position: absolute;
    font-size: 20px;
}

.invertir .header-herramienta, .invertir .text-herramienta {
    text-align: end;
}

.container-herramienta:before, .container-herramienta:after{
    content: "";
    width: 60px;
    height: 5px;
    position: absolute;
    background: #b01f16;
    z-index: -100;
}   
.container-herramienta.container-herramienta-derecha:before, .container-herramienta.container-herramienta-derecha:after{
    left: -5px;
}
.container-herramienta.container-herramienta-izquierda:before, .container-herramienta.container-herramienta-izquierda:after{
    right: 0px;
}
.container-herramienta.container-herramienta-izquierda{
    border-right: 5px solid #b01f16;
    text-align: end;
}
.container-herramienta.container-herramienta-derecha{
    border-left: 5px solid #b01f16;
}

.container-herramienta:before{
    top: 0px;
} 
.container-herramienta:after{
    bottom: 0;
}

.container-herramienta-izquierda .icon-circle-herramienta:before{
    right: 45px;
} 

.container-herramienta-derecha .icon-circle-herramienta:before{
    left: 45px;
} 

/* otros */
.alerta-raya{
    height: 3px;
    background-color: #666666;
    max-width: 60vw;
    border-radius: 2px;
    margin: 60px auto;  
}

.alerta-heading{
    font-size: 50px;
    font-family: 'Montserrat-semiBold';
}
.alerta-lead-in{
    font-size: 30px;
    font-family: 'Montserrat-semiBold';
}

.container-alerta{
    margin: 60px 0px;
    background-image: url('../img/fondo-circle-black.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    background-position: center bottom;
}
.container-alerta >.row{
    margin-bottom: 50px;
}

.container-alerta .card-title {
    font-family: 'Montserrat-Bold';
    font-size: 25PX;
}
 
.container-alerta .card-body{
    padding-top: 0;
}

.reporte-title{
    font-size: 50px;
    margin-bottom: 50px;
}
.reporte-title p{
    font-family: 'Montserrat-semiBold';
    margin: 0;
    line-height: 1.2;
}

.text-reporte p {
    text-align: left;
    font-family: 'Montserrat-semiBold';
    font-size: 20px;
    /* margin-left: 20px; */
    position: relative;
}
/* .text-reporte p{
    text-align: left;
    font-family: 'Montserrat-semiBold';
    font-size: 20px;
    margin-left:20px ;
} */

.text-reporte p:last-child {
    margin-bottom: 0;
}

.reporte-raya{
    height: 5PX;
    border: 0;
    background-color: black;
    width: 150px;
    margin: 0 auto;
}
.text-reporte p:before {
    content: "\f111";
    /* bottom: 0; */
    left: -50px;
    position: absolute;
    font-size: 20px;
    font-family: 'vespro' !important;
    color: #b01f16;
}

/* .text-reporte p:before {
    content: "\f111";
    bottom: 0;
    left: -21px;
    position: relative;
    font-size: 20px;
    font-family: 'vespro' !important;
    color: #b01f16;

} */

.text-reporte:before {
    content: "";
    width: 5px;
    min-height: calc(100% - 32px);
    position: absolute;
    background: #b01f16;
    z-index: -100;
    /* top: 0; */
    left: -28px;
    margin-top: 15px;
}
/* .text-reporte:after {
    content: "";
    width: 5px;
    min-height: calc(100% - 32px);
    position: absolute;
    background: #b01f16;
    z-index: -100;
    top: 0;
    left: 21px;
    margin-top: 15px;
} */


/* contacto */
.container-contacto{
    height: 80vh;
    background-color: #b01f16;
    padding: 0;
    position: relative;
    margin-bottom: 40px;    
}
.container-contacto .container-contacto-colores{
    height: 100%;
}
.container-contacto .container-contacto-colores .rojo{
    height: 100%;
    background-image: url(../img/fondo-circle-black.png);
    background-repeat: no-repeat;
    background-position: left bottom ;
}

.container-contacto .container-contacto-colores .blanco{
    height: 100%;
    background-color:white;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;

    background-image: url(../img/fondo-circle-black.png);
    background-repeat: no-repeat;
    background-position: right top 
}

.container-contacto-text{
    position: absolute;
    background-color:transparent;
    width: 100%;
    bottom: 0;
    top: 0;
}

.container-text-rojo{
    max-width: 300px;    
    text-align: end;
    margin-left: auto;
    padding-right: 30px;
}

.container-text-rojo p{
    color: #FFF;
    font-family: "Montserrat-bold";
}

.container-text-rojo p.reporte-heading-1{
    font-size: 40px;
}

.container-text-rojo p.reporte-heading-2{
    font-size: 35px;
}


/* card contacto */
.card-contacto{
    border-radius: 5%;
    padding: 10px 40px;
}

.card-contacto .card-title{
    text-align: center;
    height: 50px;
    margin: 40px 0px;
}

.card-contacto .card-title img{
    width: auto;
    height: inherit;
}

.card-contacto input{
    border: 2px solid #b01f16;
    border-radius: 10px;
    color: black;
    margin-bottom: 35px;
    height: 3rem;
}

.card-contacto input:focus{
    border: 2px solid #b01f16;
    box-shadow: 0 0 0 1px #b01f16;
}

.card-contacto .btn-primary {
    background-color: #b01f16;
    border: #b01f16;
    width: 100%;
    font-family: "Montserrat-bold";
    font-size: 20px;
    border-radius: 10px;

}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle .btn-primary:focus {
    color: #fff;
    background-color: #b01f16;
    border: #b01f16;
    box-shadow: 0 0 0 0.2rem #b01f16;
}

.container-contacto-text-politica{
    position: absolute;
    width: 100%;
    bottom: 9px;
}




/* #testimonios .carousel-inner {
    margin-top: 50px;
}

#testimonios-movil .carousel-inner {
    margin-top: 0px;
} */











.icon i{
    padding: 0px 30px;
    font-size: 20px;
}

@media (min-width: 341px){
    #beneficios-carousel {
        display: none;
    }
    
    #beneficios {
        display: block;
    }
    
    

}
@media (max-width: 340px){
    #beneficios {
        display: none;
    }

    #beneficios-carousel {
        display: block;
    }

    .herramienta .invertir {
        display: flex;
        flex-direction: column;
    }

    .herramienta .invertir:first-child {
        order: 1;
    }

    .herramienta .invertir:nth-child(2) {
        order: 2;
    }

    
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url("../css/font-montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url("../css/font-montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat-light';
    src: url("../css/font-montserrat/Montserrat-Thin.ttf");
}

@font-face {
    font-family: 'Montserrat-semiBold';
    src: url("../css/font-montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: 'Montserrat-medium';
    src: url("../css/font-montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: 'Montserrat-thin';
    src: url("../css/font-montserrat/Montserrat-Thin.ttf")
}